
<div class="banner py-5 w-100 " style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png);">
  <div class="container ">
    <h1 class="text-center text-white">Mes listes</h1>
  </div>
</div>

<div class="container">
  <div class="row">

    <div class="col-10 text-center justify-content-center">
      <ul class="d-flex flex-row my-5 ">
        <% @lists.each do |list| %>
          <li class="w-25 px-5 list-unstyled">
            <div class="card-category rounded text-center h-100" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
              <h5><%= link_to list.name, list_path(list) %></h5>
            </div>
        </li>
        <% end %>
      </ul>
    </div>

    <div class="col-10 text-center">
      <span class="btn btn-info text-white"><%= link_to 'New List', new_list_path %></span>
    </div>


  </div>
</div>
